@model SchoolManagementSystem.Models.FeeViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container border mt-3">
    <h2 class="text-center text-primary mt-2">Enter Fees Record </h2>
    <hr />
    <div class="row ">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
               
                    <div class="form-group">
                        <label asp-for="ClassId" class="control-label"></label>
                        <select id="ddclass" asp-for="ClassId" class="form-control"
                                asp-items="@(new SelectList(ViewBag.message,"ClassId","Name"))">
                            <option>Select Class</option>
                        </select>
                        <span asp-validation-for="ClassId" class="text-danger"></span>
                    </div>
                
                    <div class="form-group">
                        <label asp-for="SectionId" class="control-label"></label>
                        <input type="hidden" id="sectionId" asp-for="SectionId"  />
                        <select asp-for="SectionId" id="ddsection" class="form-control">
                            <option>Select Section</option>

                        </select>
                        <span asp-validation-for="SectionId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="StudentId" class="control-label"></label>
                        <select asp-for="StudentId" id="ddStudent" class="form-control">
                            <option>Select Student</option>
                        </select>
                        <span asp-validation-for="StudentId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MonthId" class="control-label"></label>
                        <select asp-for="MonthId" class="form-control">
                            <option value="0">Select Month</option>
                            <option value="1"> Jan</option>
                            <option value="2"> Feb</option>
                            <option value="3"> Mar</option>
                            <option value="4"> Apr</option>
                            <option value="5"> May</option>
                            <option value="6"> Jun</option>
                            <option value="7"> Jul</option>
                            <option value="8"> Aug</option>
                            <option value="9"> Sept</option>
                            <option value="10"> Oct</option>
                            <option value="11"> Nov</option>
                            <option value="12"> Dec</option>

                        </select>
                        <span asp-validation-for="MonthId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fees" class="control-label"></label>
                        <input asp-for="Fees" class="form-control" />
                        <span asp-validation-for="Fees" class="text-danger"></span>
                    </div>
               
                <div class="form-group mt-3">
                    <input type="submit" value="Update Record" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        loaddata();

    })

    var loaddata = function () {
        var classId = $("#ddclass").val();
        debugger;
        $.ajax({
            type: "GET",
            url: "../../Student/LoadSection?id=" + classId,
            success: function (data) {
                var len = data.length;
                $("#ddsection").empty();
                for (var i = 0; i < len; i++) {
                    var id = data[i]['id'];
                    var name = data[i]['name'];
                    //console.log(data);
                    $("#ddsection").append("<option value='" + id + "'>" + name + "</option>");
                }
            }
        });
        var sectionId = $("#sectionId").val();
        $.ajax({
            type: "GET",
            url: "../../Fee/LoadStudents?classId=" + classId + "&sectionId=" + sectionId,
            success: function (data) {
                var len = data.length;
                $("#ddStudent").empty();
                for (var i = 0; i < len; i++) {
                    var id = data[i]['id'];
                    var name = data[i]['name'];
                    //console.log(data);
                    $("#ddStudent").append("<option value='" + id + "'>" + name + "</option>");
                }
            }
        });

    }
       
</script>